@import "./assets/scss/config";

h1 {
  font-size: 3.5rem;
  span {
    color: $primaryColor;
  }
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.5rem;
  line-height: 1;
}
h4 {
  font-size: 2.2rem;
}
h5 {
  font-size: 1.8rem;
}
h6 {
  font-size: 1.6rem;
}
p {
  @include poppins();
  font-size: 1.6rem;
}
ul {
  margin: 0;
}
button,
a,
*[type="submit"] {
  @include transition(0.3s);
}
body,
p {
  font-size: 1.6rem;
}
.mt-10 {
  margin-top: 1rem;
}
.mt-20 {
  margin-top: 2rem;
}
.mt-30 {
  margin-top: 3rem;
}
.mt-40 {
  margin-top: 4rem;
}
.mt-50 {
  margin-top: 5rem;
}
.p-0 {
  padding: 0 !important;
}
.text-center {
  text-align: center;
  justify-content: center;
}
.text-left {
  text-align: left;
  justify-content: flex-start;
}
.text-right {
  text-align: right;
  justify-content: flex-end;
}
.error {
  font-size: 1.1rem !important;
  color: $errorColor;
}
// style
.headerWrapper {
  padding-block: 1.5rem;
}
.bannerWrapper,
.trendingWrapper {
  background-color: $offWhite;
}
.css-1oqqzyl-MuiContainer-root {
  @media (min-width: 1601px) {
    max-width: 1400px;
  }
}
.mt-10 {
  margin-top: 1rem;
}
.mt-20 {
  margin-top: 2rem;
}
.mt-30 {
  margin-top: 3rem;
}
.mt-40 {
  margin-top: 4rem;
}
.mt-50 {
  margin-top: 5rem;
}
.p-0 {
  padding: 0 !important;
}
.text-center {
  text-align: center;
  justify-content: center;
}
.text-left {
  text-align: left;
  justify-content: flex-start;
}
.text-right {
  text-align: right;
  justify-content: flex-end;
}
.css-1wc848c-MuiFormHelperText-root {
  font-size: 1.1rem !important;
  margin-left: 0 !important;
}
.error {
  font-size: 1.1rem !important;
  color: #d32f2f;
}
